<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
   <system>
       <tab id="bluethink_tab" translate="label" sortOrder="1">
           <label>Bluethink Tab</label>
       </tab>
       <section id="bluethink" translate="label" type="text" sortOrder="100" showInDefault="1"
                showInWebsite="1" showInStore="1">
           <label>Bluethink Dev</label>
           <tab>bluethink_tab</tab>
           <resource>Bluethink_Dev::config</resource>
           
           <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                  showInStore="1">
               <label>General</label>
               <field id="bluethink_dev_enabled" translate="label" type="select" showInDefault="1" canRestore="1"
                      showInWebsite="1" showInStore="1">
                   <label>General</label>
                   <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
               </field>
           </group>
           <group id="button_visibility" translate="label" type="text" sortOrder="10" showInDefault="1"
                  showInWebsite="1" showInStore="1">
              <label>Country</label>
              <field id="customer_grid_page" translate="label" type="multiselect" showInDefault="1" canRestore="1"
                      showInWebsite="1" showInStore="1">
                   <label>Country List</label>
                   <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
               </field>
              </group>


              <group id="demo" translate="label" type="text" sortOrder="10" showInDefault="1"
                  showInWebsite="1" showInStore="1">
              <label>Shipping Method</label>
              <field id="customer_edit_page" translate="label" type="select" showInDefault="1" 
                      showInWebsite="1" showInStore="1">
                   <label>Shipping Method List</label>
                   <source_model>Bluethink\Dev\Model\Config\Source\Custom</source_model>
               </field>
              </group>
        </section>
   </system>
</config>

